<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlaylistPanda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlaylistPanda.Properties.Settings>
            <setting name="LastFmUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTimeSpan" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmSessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUri" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreadsPerProcessor" serializeAs="String">
                <value>5</value>
            </setting>
        </PlaylistPanda.Properties.Settings>
    </userSettings>
</configuration>